/*
--01 TYPOGRAPHY SYSTEM 

 --Spacing (px)
   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 --Line height
 Default: 1
 Large-text 1.05
 Paragraph 1.6

 --Letter spacing
 Small: 1px

 --Font weights
 Default: 400

 --Font sizing (px)
   10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


 --02 COLOURS

 --Primary: #d8232a; #1b1919
 --Tints: #dc393f,
 #e04f55,
 #e4656a,
 #e87b7f,
 #ec9195,
 #efa7aa,
 #f3bdbf,
 #f7d3d4,
 #fbe9ea

 
 --Shades: #c22026,
 #ad1c22,
 #97191d,
 #821519,
 #6c1215,
 #560e11,
 #410b0d,
 #2b0708,
 #160404
 --Accents:
 --Greys: 
 #555
 #333
 #6f6f6f

 UIFaces- good for free human faces
 Splash- good for free images

 --05 SHADOWS

 --06 BORDER RADIUS
 Default: 9px
 medium: 18px

 --07 WHITE SPACE
*/

hmtl {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 62.5%;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* .info-nav-wrap {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
} */

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 70%;
  width: 100%;
}

.grid-articles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-image: url(img/stadium.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 2.4rem;
}

h2 {
  color: #d8232a;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
}

.story-link {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
}
